body {
    background: #eceff1;
    font-family: Arial, sans-serif;
}

.container {
    width: 500px;
    margin: 50px auto;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    text-align: center;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    border: 1px solid #aaa;
    font-size: 16px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

select {
    width: 48%;
    padding: 10px;
    border-radius: 8px;
    font-size: 16px;
    border: 1px solid #aaa;
}

button {
    margin-top: 10px;
    padding: 12px 20px;
    background: #0077ff;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #005fcc;
}
